<title><%= @user.name %>さん Ruppish【ラピッシュ】</title>

<div class="us_sh_top center-block">
  <div class="di_inline_t">
      <%= render 'users/left', user: @user, following_users: @following_users, followers_users: @followers_users %>
  </div>

<div class="di_inline_t">
  <div class="us_sh_right"><!--   右サイド(タグ一覧)   -->
      <h2 style="text-align: center;width: 95%;">タグ一覧</h2>
        <div class="u_sh_tag_index center-block o_border bo_rad_3">
         <% @user.microposts.first(60).each do |micropost| %>
            <% micropost.tags.each do |tag| %>
            <span class="label label-primary"><%= tag.name %></span>
           <% end %>
         <% end %>
        </div>
  </div>
</div>

</div>

<div class="b_100"></div>


<script>
var nav    = $('#nav'),
    offset = nav.offset();

$(window).scroll(function () {
  if($(window).scrollTop() > offset.top - 20) {
    nav.addClass('fixed');
  } else {
    nav.removeClass('fixed');
  }
});
</script>