<title>Ruppishとは？ Ruppish【ラピッシュ】| P&Fプラットフォーム</title>
<div class="ab_he"><!--   タイトル   -->
    <div class="sb_he_tt"><b>Ruppish</b>
        <div class="sb_he_sub_tt">Ruppishは、プログラミングで製作した作品をプレゼンテーションするためのサービスです。</div>
    </div>
</div>

<div class="ab_he_strength"><!--   ストレングス1  -->
    <div class="ab_he_strength_over center-block">
        <div class="di_inline_t">
            <div class="ab_he_strength_image"><!--   画像  -->
                <%= image_tag 'about1.png', :size => '600x350' %>
            </div>
        </div>
        <div class="di_inline_t">
            <div class="ab_he_strength_sentence"><!--   文章  -->
                <div class="ab_he_strength_sentence_con">
                    <div class="ab_he_strength_sentence_tt"><b>制作物の発信PlatForm</b></div>
                    <b>プログラミングやITに関する専門技術で作り上げた作品・商品をプレゼンテーションすることができます。<br>
                    開発後の集客の負担を減らすことができます。</b>
                </div>
            </div>
        </div>
     </div>
</div>

<div class="ab_he_strength_2"><!--   ストレングス2  -->
    <div class="ab_he_strength_over center-block">
        <div class="di_inline_t">
            <div class="ab_he_strength_sentence"><!--   文章  -->
                <div class="ab_he_strength_sentence_con_2">
                    <div class="ab_he_strength_sentence_tt_2"><b>付加価値の創出</b></div>
                    <b>ユーザーの投稿はRuppishのTwitterアカウントにより発信されます。第三者の発信によって
                    作品のブランド構築をサポートします。<br>より多くの注目を集めることができます。</b>
                </div>
            </div>
        </div>
        <div class="di_inline_t">
            <div class="ab_he_strength_image"><!--   画像  -->
                <%= image_tag 'about2.png', :size => '600x350' %>
            </div>
        </div>
     </div>
</div>

<div class="ab_he_strength"><!--   ストレングス3  -->
    <div class="ab_he_strength_over center-block">
        <div class="di_inline_t">
            <div class="ab_he_strength_image"><!--   画像  -->
                <%= image_tag 'about3.png', :size => '600x350' %>
            </div>
        </div>
        <div class="di_inline_t">
            <div class="ab_he_strength_sentence"><!--   文章  -->
                <div class="ab_he_strength_sentence_con">
                    <div class="ab_he_strength_sentence_tt"><b>プロトタイプのBrush Up</b></div>
                    <b>完成品だけでなく構想段階の企画を投稿できます。Ruppishユーザーが相互に
                    意見を交わすことで、<br>プロトタイプの質の改善を図ることができます。</b>
                </div>
            </div>
        </div>
     </div>
</div>