<div class="ab_he">
    <div class="sb_he_tt"><b>Ruppish</b>
        <div class="sb_he_sub_tt">Ruppishは、プログラミングで製作した作品をプレゼンテーションするためのサービスです。</div>
    </div>
</div>
<%= image_tag 'about.png', :size => '1440x1000' %>