<% if !user_signed_in? %>
<h1>ようこそ</h1>
<p>トップページです。</p>
<% end %>

<% if user_signed_in? %>
<h1>こんにちは、<%= current_user.username %>さん</h1>
<p>ユーザー用ページです。</p>
<%= link_to "投稿する", new_micropost_path %><br />
<% @microposts.each do |mic| %>
 <%= mic.id %>
 <%= mic.content %><br />
<% end %>
<% end %>