<title>ユーザー一覧 Ruppish【ラピッシュ】| P&Fプラットフォーム</title>

<div class="top_content_in center-block">
    
    <div class="di_inline_t">
     <div class="in_letf"><!--          左サイド          -->
     
        <% @tags.each do |tag| %>
             <div class="di_inline_t"><!--          タグ一覧          -->
              <span class="label label_red"><%= tag.name %></span>
             </div>
        <% end %>

     </div>
    </div>
  
</div>

<div class="b_100"></div>