<title>Ruppish【ラピッシュ】| P&Fプラットフォーム</title>
<div class="top_content center-block">
<h1>Chat room</h1>

<div id="messages">
  <%= render @messages %>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>
</div>

<div class="b_100"></div>