// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top_content_contact {
    width: 800px;
    height: 500px;
	border-bottom: 3px solid #ccc;
	border-top: 3px solid #ccc;
}

.contact_tt {
    padding: 20px;
}


.contact_co {
    width: 600px;
    padding: 20px;
}