@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
//----------------------footer

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
 
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


.foo_all {
  width: 1000px;
  height: 250px;
  padding: 10px;
}


//------------------------header

.activities_page {
  width: 300px !important;
}

.h_ac_con {
  font-size: 10px;
  color: black;
  padding: 2px;
	border-bottom: 1px solid #ccc;
	margin-left: 5px;
}

.ac_pg_sen {
  width: 240px;
}


//-------------------------投稿するボタン

.post_pink {
  background-color: #FF00FF;
  border-radius: 3px;
}
//------------------------pages/index, mic/new, users/show, mic/show
.top_content {
    width: 700px;
    min-height: 1500px;
    height: auto !important;
    height: 50px;
    box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
    -webkit-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
    -moz-box-shadow:rgba(122, 122, 122, 0.0588235) 0px 0px 6px 3px;
    padding: 5px;
}

.t_a_c {
  text-align: center;
}

.t_b_c {
	display: table-cell;
	vertical-align: middle;
}
.di_inline {
  display: inline-block;
  vertical-align: middle;
}

.b_bottom {
	padding: .5em;
	border-bottom: 1px solid #ccc;
}

.padding {
  padding: .5em;
}

.b_100 {
  height: 100px;
}

.b_200 {
  height: 200px;
}
.di_inline_t {
  display: inline-block;
  vertical-align: top;
}

.b_10 {
  height: 10px;
}

.b_50 {
  height: 50px;
}

.width_400 {
  width: 700px;
}

.width_500 {
  width: 500px;
}

a {
text-decoration: none;
}

.flo_right {
  float: right;
}

.bo_rad_3 {
  border-radius: 3px;
}

.b_50 {
  height: 50px;
}

.pad_3 {
  margin: 3px;
}

.o_border {
	padding: .5em;
	border: 3px double #ccc;
}

.gray {
  background-color: #e6e6e6;
}

.fs_20 {
  font-size: 20px;
  margin-top: 30px;
  color: #9fcb63;
}

.gold {
  background-color: 	#ffd700;
  width: 100%;
  height: 100%;
}

.silver {
  background-color: 	#c0c0c0;
  width: 100%;
  height: 100%;
}

.darkgold {
  background-color: 	#b8860b;
  width: 100%;
  height: 100%;
}	


//--------------------------header

.acti_more {
  color: black;
  display:block;
  height: 20px;
  text-align:center;
  border:1px solid #EEE;
  border-radius: 3px;
  font-size: 10px;
  line-height: 20px;
}


//--------------------タグ

.label_red {
  background-color: rgba( 255, 0, 0, 0.5 );
}

.wi_100 {
  width: 100px;
}

.wi_200 {
  width: 200px;
}

.h_10 {
  height: 10px;
}

.text_shadow {
  text-shadow: 1px 1px 1px #999999;
}