// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//----------------------------------index.html.erb

//----------------------------------大枠
.top_content_in {
    width: 1000px;
    min-height: 1500px;
    height: auto !important;
    height: 50px;
    padding: 5px;
}
//----------------------------------右サイド

.in_right {
   width: 270px;
   background-color: blue;
   min-height: 1500px;
   height: auto !important;
   height: 50px;
}

//----------------------------------右サイド

.in_right_con1 {
   width: 250px;
   padding: 5px;
   background-color: black;
   height: 200px;
}

//----------------------------------左サイド

.in_left {
   width: 100px;
   background-color: red;
   min-height: 1500px;
   height: auto !important;
   height: 50px;
}
//---------------------------タイムライン
.mic_array {
	padding: .5em;
	border-bottom: 1px solid #ccc;
	height: 100px;
	width: 657px;
}

//---------------------------投稿者名
.mi_u_nm {
	height: 40px;
	width: 50px;
 font-size: 10px;
 text-align: center;
 padding-top: 3px;
}



//---------------------------投稿のタイトル
.mic-title {
 font-size: 20px;
 height: 20px;
 width: 580px;
	font-size: 15px;
}

//---------------------------投稿の内容
.mic-content {
 height: 40px;
 width: 580px;
	font-size: 10px;
	color: #a1a1a1;
	padding: 5px 5px 5px 1px;
}

//---------------------------タグ
.mic_tag {
 height: 20px;
 width: 300px;
}

//---------------------------評価・PV
.mic_li_pv {
 height: 20px;
 width: 580px;
 padding: 1px;

}

//---------------------------PV
.page_pv {
 height: 20px;
 width: 100px;
	font-size: 13px;
}


//---------------------------投稿時間
.mic_date {
 height: 15px;
 width: 60px;
 float: right;
 text-align: right;
 font-size: 8px;
	margin-top: 3px;
}

.mic_tag_date {
    height: 20px;
    padding-top: 5px;
    width: 400px;
}

.pg_tt {
  font-size: 20px;
}
.op_op {
	padding: .5em;
}

//------------------------------ログアウト画面


//------------------------------全体
.no_in_all {
 background-color: gray;
 width: 1000px;
 height: 600px;
}

//------------------------------左サイド
.no_in_left {
 background-color: white;
 width: 690px;
 height: 590px;
 padding: 5px;
}

//------------------------------右サイド
.no_in_right {
 width: 300px;
 height: 590px;
}

//------------------------------右サイドメインタイトル
.no_in_m_tt {
 text-align: left;
 vertical-align: middle;
  position: relative;
  top: 30%;
  -webkit-transform: translateY(-50%); /* Safari用 */
  transform: translateY(-50%);
  font-size: 60px;
}



//------------------------------タイトル説明
.no_in_dis_tt {
 text-align: left;
 vertical-align: left;
 position: relative;
 top: 40%;
 -webkit-transform: translateY(-50%); /* Safari用 */
 transform: translateY(-50%);
 font-size: 20px;
}

//------------------------------タイトルコンセプト
.no_in_con_tt {
 text-align: left;
 vertical-align: middle;
 position: relative;
 top: 35%;
 -webkit-transform: translateY(-50%); /* Safari用 */
 transform: translateY(-50%);
 font-size: 30px;
}

//------------------------------サインアップ
.no_in_sign_up {
 text-align: center;
 position: relative;
 top: 35%;
 -webkit-transform: translateY(-50%); /* Safari用 */
 transform: translateY(-50%);
 font-size: 30px;
}

//------------------------------ボタン
.no_in_btn {
 font-size: 30px;
 width: 250px;
 height: 50px;
 line-height: 35px;
}

//------------------------------ログイン
.no_in_sign_in {
 text-align: center;
 position: relative;
 top: 40%;
 -webkit-transform: translateY(-50%); /* Safari用 */
 transform: translateY(-50%);
 font-size: 30px;
}